.listing-banner-container{
    background-image: none;
}

.listing-logo{
    max-width: 300px;
    width: 90%;
}

.listing-card-delete-btn{
    display: inline-block;
    background: var(--accent-color);
    color: #fff;
    width: 27px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    border-radius: 1000px;
    font-size: 13px;
    position: absolute;
    right: 7px;
    top: 7px;
    transition-duration: 0.3s;
    z-index: 100;
}

.listing-card-delete-btn:hover{
    background: #fff;
    color: var(--accent-color);
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

.floating-add-btn{
    position: fixed;
    width: 50px;
    height: 50px;
    background: var(--accent-color);
    color: #fff;
    text-decoration: none;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    border-radius: 10000px;
    right: 17px;
    bottom: 18px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    transition-duration: 0.3s;
    z-index: 100;
}

.floating-add-btn:hover{
    background: #fff;
    color: var(--accent-color);
}

.empty-listing-container{
    text-align: center;
    opacity: 0.6;
}

.empty-listing-container img{
    width: 50px;
    opacity: 0.4;
}

.empty-listing-container h3{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 17px;
    font-weight: 700;
}

.empty-listing-container p{
    font-size: 0.9rem;
}

.listing-card .badge{
    position: relative;
    top: -1px;
}

.listing-card .card-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 87%;
}

.profile-image{
    max-height: 175px;
    width: 100%;
}

.profile-biography{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.search-box{
    max-width: 500px;
    background: #fff;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1000px;
    overflow: hidden;
    padding: 4px 10px;
    border: 3px solid #21252957;
    padding-left: 15px;
}

.search-box input{
    border: none !important;
    outline: none !important;
    font-weight: 600;
    font-size: 15px;
    height: 32px;
}

.search-box button{
    color: #2a2a2a8a;
    background: transparent !important;
    border: none !important;
    outline: none !important;
    height: 32px;
    transition-duration: 0.3s;
}

.search-box .clear-btn{
    color: #2a2a2a8a;
    position: relative;
    top: 4px;
    left: -3px;
    width: 17px;
    display: block;
    text-align: center;
    transition-duration: 0.3s;
}

.search-box button:hover, .search-box .clear-btn:hover{
    color: var(--accent-color);
}