:root {
    --primary-color: #14212A;
    --accent-color: #ff4a17;
}

body{
    font-family: 'Nunito Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Amiri', serif;
}

a {
    color: inherit;
    text-decoration: none;
    transition-duration: 0.3s;
}

a:hover{
    color: inherit;
    text-decoration: none;
}

.align-middle{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.subtitle{
    font-family: 'Nunito Sans', sans-serif;
    color: #ff4a17;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.subtitle::after, .subtitle::before {
    content: '';
    position: relative;
    z-index: 1;
    width: 8px;
    height: 2px;
    bottom: 0px;
    background-color: #ff4a17;
    display: inline-block;
    left: 4px;
}

.subtitle::before {
    left: -4px;
}

.auth-container{
    width: 100%;
    min-height: 100vh;
    background-color: #14212A;
    background-image: url('../images/auth-background.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-container{
    width: 100%;
    padding: 35px 0px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #14212A;
    background-image: url('../images/auth-background.svg');
}

/* Card */
.card{
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    border: none !important;
    border-radius: 5px;
    overflow: hidden;
}

.card-header{
    background: #14212a;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.card-header i{
    opacity: 0.7;
    margin-right: 4px;
}

.object-fit-cover{
    object-fit: cover
}

/* Aert */
.alert-danger {
    border: none;
    background: #ff4a1721;
    color: var(--accent-color);
}

/* Badge */
.badge{
    background: var(--accent-color);
    color: #fff;
}

/* Label */
label.required::after{
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 1000px;
    background: var(--accent-color);
    display: inline-block;
    position: relative;
    top: -7px;
    left: 2px;
}

/* Button */
.back-btn{
    position: fixed;
    top: 10px;  
    left: 10px;
    background: #fff;
    border: none;
    border-radius: 1000px;
    padding: 1px 11px 1px 7px;
    font-size: 14px;
    font-weight: 700;
    color: #14212a;
    z-index: 1000;
    box-shadow: 0 9px 17px rgba(0, 0, 0, 0.18);
}

.btn{
    border-radius: 3px;
    line-height: 1.1;
    font-weight: 700;
    border: none;
    font-size: 14px;
    padding: 17.5px 29.5px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    width: 100%;
    text-transform: uppercase;
    transition-duration: 0.3s;
    cursor: pointer;
}

.btn-modal{
    width: max-content;
    padding: 10px 20px;
}

.btn-small{
    padding: 11px;
}

/* Pagination */
.pagination span{
    opacity: 0.5;
}

/* Modal */
.modal-title{
    font-weight: 800;
}