.uploaded-media-item{
    padding: 0px;
    background: #ff4a1733;
    border-radius: 5px;
    overflow: hidden;
}

.uploaded-media-item button{
    color: #2a2a2a8a;
    border: none !important;
    outline: none !important;
    height: 40px;
    font-size: 15px;
    width: 40px;
    background: var(--accent-color);
    color: #fff;
    transition-duration: 0.3s;
}

.uploaded-media-item .close-btn{
    background: #ffffff;
    color: #505050;
    border-radius: 1000px;
    transform: scale(0.6);
    font-size: 24px;
    line-height: 40px;
}

.uploaded-media-item p{
    margin: 0px;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    font-weight: 600;
    font-size: 14px;
    color: var(--accent-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 140px;
}

.post-for-text{
    color: #fff;
    font-weight: 500;
    opacity: 0.8;
}