.profile-banner-container{
    width: 100%;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-banner-inner{
    width: 100%;
    padding: 35px 0px;
    backdrop-filter: blur(15px);
    background: rgba(0, 0, 0, 0.4);
}

.profile-circle-img{
    width: 90px;
    height: 90px;
    border: 5px solid #fff;
    border-radius: 10000px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.profile-class-text{
    color: #fff;
    font-weight: 500;
    opacity: 0.8;
}

.profile-edit-link{
    text-align: center;
    display: block;
    color: #fff !important;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.post-card{
    width: 100%;
    height: 120px;
    border-radius: 3px;
    overflow: hidden;
    background-position: center center;
    background-size: cover;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.post-card-full{
    height: 175px;
}

.post-card button{
    width: 40px;
    height: 40px;
    border-radius: 1000px;
    background: #fff;
    color: var(--accent-color);
    border: none;
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.33);
}

.post-card button i{
    position: relative;
    left: 2px;
    top: 1px;
}

.post-youtube-card{
    background-size: 170% auto;
}

.post-audio-card{
    background: var(--accent-color);
}

.listing-card-delete-btn {
    top: 6px;
    background: transparent;
}